.App {
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height: 100vh;
}
.overlay-sidebar {
  position: fixed;
  width: 250px;
  height: 90vh;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.overlay-sidebar__input {
  width: 100%;
}
.overlay-sidebar__input label{
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}
.overlay-sidebar__input input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}
.overlay-sidebar__list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.overlay-sidebar__list li {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background: #dddddd;
}
.btn {
  border: 1px solid #ddd;
  background: #dddddd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.btn--danger {
  background: #c0392b;
  color: #fff;
}
.btn--block {
  width: 100%;
}
